#!/usr/bin/env bash

use nix

# ifneq ($(NOFORTIFY),TRUE)
#     OPT_CFLAGS += -D_FORTIFY_SOURCE=2
# endif

# export CFLAGS="%optflags -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=2"
# export CXXFLAGS="$CFLAGS"

watch_file ./env

# Load the devshell
# shellcheck disable=SC1091
source ./env/env.bash

# used by docker-compose to run processes with the same user ID mapping
HOST_UID=$(id -u)
HOST_GID=$(id -g)
export HOST_UID HOST_GID

# allow local .envrc overrides, used for secrets (see .envrc.local-template)
[[ -f .envrc.local ]] && source_env .envrc.local